section#timeline-wrapper {
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
	@include at-breakpoint(35em 12) {
		#vertical-bar {
			position: absolute;
			left: 17%;
			width: $borderSize;
			height: 100%;
			background-color: $c1;
		}
	}
	article.entry {
		overflow: hidden;
		margin-top: 10px;
		div.timeline-sidebar {
			width: 15%;
			float: left;
			padding: 10px;
			overflow: hidden;
			.talk-hour, .talk-hour-separator {
				@include ubuntu;
				@include caps;
				width: 100%;
				font-size: 1.1em;
				line-height: 1.6em;
				color: #7E7C75;
				padding: 1px 0;
				
			}
			.talk-hour {
				border-bottom: 4px $c1 solid;
			}
			

		}
		div.entry-mainwrapper {
			@include clearfix;
			width: 75%;
			float: left;
			//border-left: $borderSize solid rgb(0, 141, 243); 
			padding-left: 30px;
			padding-top: 15px;
			padding-bottom: 15px;
			overflow: hidden;
		}
	}
}

.tag { 
	@include border-radius(5px);
	@include background(linear-gradient(top, #3C7AAA, #3676A8));
	@include text-shadow(rgba(#333, 0.3) 1px 1px 0);
	@include arvo;
	padding: 3px 6px;
	margin: 0 3px;
	font-size: 12px;
	color: #eee;
}

.darker {
	background-color: rgba(0, 63, 96, 0.1);
}


.authors-wrapper {
	margin-top: 25px;
	.one-speaker { width: 95% !important; padding: 0 5px; margin: 0; margin-bottom: 15px; }
	.one-speaker .author-data { width: 590px !important; margin-left: 5px;  }
	.author {
		float: left;
		width: 45%;
		margin-right: 5%;
		margin-bottom: 15px;
		&:nth-child(2n) {margin-right: 0;}

		.author-image { width: 65px; float: left; }
		.author-data { width: 230px; float: left; padding-left: 5px; 


			.facebook {background: url("../img/facebook-icon.png") no-repeat;}
			.twitter {background: url("../img/twitter-icon.png") no-repeat;}
			.website {background: url("../img/website-icon.png") no-repeat;}
			.email {background: url("../img/email-icon.png") no-repeat;}
			.skype {background: url("../img/skype-icon.png") no-repeat;}
			.linkedin {background: url("../img/linkedin-icon.png") no-repeat;}
			.social {width: 20px; height: 20px; overflow: hidden; display: block; text-indent: -9999px;
white-space: nowrap; float: left; margin-right: 3px; margin-top: 10px; }
		}
	}
}

.no-link-style {
	@include unstyled-link;
	@include link-colors(#333, #333, #333, #333, #333); 
}

.keynote { background-color: rgba($c1, 0.3) }

.coffeebreak { background-color: rgba($c1, 0.1);  margin: 5px 0px; }

.speaker-anchor {
	position:relative; top:-50px
}