section#timeline-wrapper {
	margin-bottom: 50px;
	overflow: hidden;
	article.entry {
		overflow: hidden;
		div.timeline-sidebar {
			width: 15%;
			float: left;
			padding: 0 10px;
			overflow: hidden;
		}
		div.entry-mainwrapper {
			@include clearfix;
			width: 75%;
			float: left;
			border-left: $borderSize solid rgb(0, 141, 243); 
			padding-left: 30px;
			overflow: hidden;
		}
	}
}

.tag { 
	@include border-radius(5px);
	@include background(linear-gradient(top, #3C7AAA, #3676A8));
	@include text-shadow(rgba(#333, 0.3) 1px 1px 0);
	@include arvo;
	padding: 3px 6px;
	margin: 0 3px;
	font-size: 12px;
	color: #eee;
}

.darker {
	background-color: rgba(0, 63, 96, 0.1);
}


section.authors-wrapper {
	article.author {
		float: left;
		width: 30%;
		margin-right: 3%;
		margin-bottom: 15px;
		&:nth-child(3n) {margin-right: 0;}

		div.author-image {
			width: 50px;
			display: inline-block;
			vertical-align: top;
		}
		div.author-data {
			display: inline-block;
			padding-left: 10px;
			@include clearfix;
			img { float: left; margin: 0 3px; }
		}
	}
}

.keynote {
	background-color: rgba(198, 60, 40, 0.3);
}

.coffeebreak { 
	background-color: rgba(0, 63, 96, 0.3); 
	margin: 5px 0px;
}

.speaker-anchor {
	position:relative; top:-50px
}