@import "susy";
@import "typography";

footer {
	@include background(url('../img/footer-noisy-texture3.png'));
	//background: #f0f0f0;
	margin-top: 10px;
	padding: 10px 0 20px 0;
	.zone {
		width: 21%;
		margin: 2%;
		float: left;
	}
	p, span { color: #555; }
}

footer {
	h6 {
		margin: 0;
		font-size: 12px;
		line-height: 18px;
		font-weight: 600;
		color: #333;
		text-transform:uppercase;
	}

	p {
		line-height: 19px;
		font-size: 11px;
		font-weight: 400;
		color: #999;
	}

	.footer-link {
		font-weight: bold;
		font-style: normal;
		@include unstyled-link;
		@include link-colors(#333, #333, #333, #333, #333);
	}
}