@import "compass";
@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

.wrapper {
	@include container;
}

header, footer, body {
	clear: both;
}