@import "susy";
@import "typography";
@import "variables";

header {
	@include background(url('../img/feup-noisy-texture.png'));
	// section.top-info {
	// 	width: 30%;
	// 	padding: 20px 0;
	// 	span {
	// 		@include arvo;
	// 		font-size: 10px;
	// 		line-height: 18px;
	// 		color: white;
	// 		text-transform: uppercase;
	// 		letter-spacing: 2px;
	// 	}
	// }
	#logo {
		@include at-breakpoint(1em 12) { position: absolute; top: 30px; left: 0; right: 0; }
		@include at-breakpoint(60em 12) { position: relative; @include span-columns(4,12); background-position: 90% 100%; }
		background: url(http://placehold.it/250x120) 50% 100% no-repeat;
		height: $logoHeight;
		text-indent: -9999px;
	}
	ul {
		@include inline-block-list;
		@include at-breakpoint(1em 12) { width: 50%; float: left; margin-top: $navMarginSmall; height: $headerHeightSmall; &.nav-group-two { float: right;} }
		@include at-breakpoint(35em 12) { height: $headerHeightMedium; margin-top: $navMarginMedium; }
		@include at-breakpoint(60em 12) { width: auto; float: left; height: $headerHeightBig; margin-top: $navMarginBig; }
		li {
			@include headerFontStyle($navItemHeight);
			@include at-breakpoint(1em 12) { width: 100%; float: left;}
			@include at-breakpoint(35em 12) { width: 50%; float: left;}
			@include at-breakpoint(60em 12) { width: $navItemWidth; float: left;}
			text-align: center;
			a {
				@include unstyled-link;
				@include link-colors(white, white, white, white, white); 
				@include border-radius(3px);
				@include text-shadow(0px 1px 1px #555);
				letter-spacing: 2px;
				padding: 5px 7px;
				@include transition-property(background);
				@include transition-duration(.3s);
				&:hover, &.active { background: rgba(255,255,255,0.5); }
				&:active { position: relative; top: 2px; } // COOL TRICK: Links Feel Subtly More Button-Like!!
			}
		}
	}
}

	