article.square-highlight {
	width: 220px;
	height: 115px;
	float: left;
	margin: 5px;
	// background: rgba(0,0,0,0.3);
	// background: url('http://marketing.unimelb.edu.au/images/homepage-icons/web.jpg') no-repeat;
	text-align: center;
	padding-top: 45px; 

	h1 {
		color: rgb(255,255,255);	
		@include text-shadow( rgba(0,0,0, 0.4) 2px 2px 0);
		@include transition-property(all);
  	@include transition-duration(.1s);
		&:hover { @include rotate(-5deg); }
	}	
}

.bg1 { background: url('../img/subtlepatterns/wild_oliva/wild_oliva.png'); }
.bg2 { background: url('../img/subtlepatterns/paper_1/paper_1.png'); }
.bg3 { background: url('../img/subtlepatterns/crisp_paper_ruffles/crisp_paper_ruffles.png'); }
.bg4 { background: url('../img/subtlepatterns/hexabump/hexabump.png'); }
.bg5 { background: url('../img/subtlepatterns/natural_paper/natural_paper.png'); }
.bg6 { background: url('../img/subtlepatterns/use_your_illusion/use_your_illusion.png'); }
