$width_1: 310px;
$width_2: 0.5 * $width_1;
$width_3: 0.25 * $width_1;
$width_4: 0.0625 * $width_1;

$height_ratio: 3/4;
$height_1: $width_1 * $height_ratio + 1;
$height_2: $width_2 * $height_ratio;
$height_3: $width_3 * $height_ratio;
$height_4: $width_4 * $height_ratio;

.mosaic-wrapper {
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;
}

.box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	padding: 0;
	@include border-radius(2px);
	float: left;
	position: relative;

	text-align: center;

	.name {
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: #008DF3;
		position: absolute; bottom: 0; left: 0;
		@include border-bottom-radius(2px);
	}

	.big, .small {
		margin: 5px 0;
		@include arvo;
		@include caps;
		color: rgb(255,255,255);	
	}
	.big { font-size: 1.2em; }
	.small { font-size: 0.9em;}
	
}

.mosaic-box1 {
	width: $width_1;
	height: $height_1;
//	background-size: $width_1 $height_1;
}

.mosaic-box2 {
	width: $width_2;
	height: $height_2;
//	background-size: $width_2 $height_2;
}

.mosaic-box3 {
	width: $width_3;
	height: $height_3;
//	background-size: $width_3 $height_3;
}

.mosaic-box4 {
	width: $width_4;
	height: $height_4;
//	background-size: $width_4 $height_4;
}

.bg0 {
	background-color: #008DF3;
}

.bg1 { 
	background-image: url('../img/speakers/keynote/alexey_big.png');
	background-size: 100%;
}
.bg2 { 
	background: url('../img/speakers/keynote/vala_medium.png');
	background-size: 100%;
}
.bg3 { 
	background: url('../img/speakers/keynote/desport_big.png');
	background-size: 100%;
}
.bg4 { 
	background: url('../img/speakers/keynote/cunha_big.png');
	background-size: 100%;
}
.bg5 { background: url('../img/subtlepatterns/natural_paper/natural_paper.png'); }
.bg6 { 
	background: url('../img/speakers/keynote/norberto_big.png');
	background-size: 100%;
}
