@import "compass";
@import "variables";


@import url("http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900,600italic,900italic,500italic,400italic,300italic,200italic,100italic,700italic,800italic");
@import url("http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic");

@mixin exo {
 	font-family: 'Exo', Futura, "Trebuchet MS", Arial, sans-serif;
}

@mixin arvo {
	font-family: 'Arvo', Georgia, Times, serif;
	font-weight: 400;
}

@mixin ubuntu {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

* { color: #333; }

// body {
//     font-size:100%;
//     line-height:1.125em; /* 16×1.125=18 */
// }
// h1 { font-size:2.25em;  /* 16x2.25=36 */ }
// h2 { font-size:1.5em;   /* 16x1.5=24 */ }
// h3 { font-size:1.125em; /* 16x1.125=18 */ }
// h4 { font-size:0.875em; /* 16x0.875=14 */ }
// p { font-size:1em; /* 16x1=16 */ }


h1, h2, h3, h4, h5, h6, p, a, li, span {
	text-shadow:0 0 0 #f00, 0 0 1px transparent;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	@include arvo;
	font-weight: 400;
}
p, span, p small {
	@include ubuntu;
	font-weight: 300;
}

p small { line-height: 130%; }

@mixin caps {
	text-transform:uppercase;
	letter-spacing: 2px;
}


@mixin headerFontStyle($height, $font-size: 11px) {
	@include ubuntu;
	font-size: $font-size;
	line-height: $height;
	text-transform:uppercase;
}


$base-font-size: 16px;
$base-line-height: 22px;
@include establish-baseline;
.no-margin { margin: 0;}