// $color1: rgb(85,153,153);

// FEUP
$color1: rgb(140,45,25); 

// THIS GLORIOUS PALETTE http://www.colourlovers.com/palette/10/american_idiot
$color2: rgb(159,17,27);
$color3: rgb(177,22,35);
$color4: rgb(41,44,55);
$color5: rgb(204,204,204);



$logoHeight: 150px;

$headerHeightBig: 100px;
$headerHeightMedium: 50px;
$headerHeightSmall: 70px;

$navMarginBig: 80px;
$navMarginMedium: 170px;
$navMarginSmall: 170px;

$navItemWidth: 150px;
$navItemHeight: 25px;
