<section class="wrapper">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h1>Porto Guide</h1>
		<p>So, you've fallen in love with <strong>Talk a Bit</strong> and you want to know what to do in the beautiful city of Porto? Wait no more, in this page you'll find our favourite spots so that you can enjoy both the conference and Porto.</p>
	</div>
	<div id="map_canvas" style="height:400px; margin: 25px auto; margin-bottom: 100px;"></div>

</section>

