<section class="wrapper">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h1>Porto Guide</h1>
		<p>So, you've fallen in love with BitBox and you want to know what to do in the beautiful city of Porto? Wait no more, in this page you'll find our favourite spots so that you can enjoy both BitBox and Porto.</p>
	</div>
	<div id="map_canvas" style="height:400px; margin: 25px auto;"></div>

	<section class="spot-category">
		<span class="category-tittle">Sleeping</span>
		<% 3.times do %>
			<article class="spot">
				<h3>Hotel Awesome Night</h3>
				<p>Rua dos maiorais, 13, 1500</p>
			</article>
		<% end %>
	</section>

	<section class="spot-category">
		<span class="category-tittle">Eating</span>
		<% 3.times do %>
			<article class="spot">
				<h3>Awesome Night Pub</h3>
				<p>Rua dos maiorais, 13, 1500</p>
			</article>
		<% end %>
	</section>

	<section class="spot-category">
		<span class="category-tittle">Transportation</span>
		<% 3.times do %>
			<article class="spot">
				<h3>Hotel Awesome Night</h3>
				<p>Rua dos maiorais, 13, 1500</p>
			</article>
		<% end %>
	</section>


</section>

