<section id="page-info">
	<section class="wrapper">
		<h1>Make a Difference</h1>
		<h1>A conference on the impact of software in modern society.</h1>
	</section>
</section>

<section class="wrapper">
	<h2>Hello World</h2>
	<p><%= lorem.paragraph %></p>

	<h2>Hello World</h2>
	<p><%= lorem.paragraph %></p>

	<h2>Hello World</h2>
	<p><%= lorem.paragraph %></p>
</section>
