<div class="wrapper" style="text-align: center;">
	<h2>Welcome to BitBox, a conference about the impact of software engineering in modern society.</h2>
	<p><%= lorem.paragraph %></p>
	<% 10.times do %>
		<img src="<%= lorem.image('220x160') %>" style="margin: 5px;">
	<% end %>

</div>
