<div class="wrapper" style="text-align: center;">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h2>Welcome to <strong>Talk a Bit</strong>, a conference about the impact of software engineering in modern society.</h2>
		<p>Our website is not quite ready yet. Meanwhile, fell free to surf our contents.</p>
	</div>
	
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h3>Themes <%= amp %> Speakers</h3>
		<% 9.times do %>
			<img src="<%= lorem.image('220x160') %>" style="margin: 5px;">
		<% end %>
	</div>
	

</div>
