<div class="wrapper" style="text-align: center;">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h2>Welcome to <strong>Talk a Bit</strong>, a conference on <strong>February 2<sup>nd</sup>, 2013</strong> about the impact of software engineering in modern society.</h2>
	</div>
	
	<div style="width: 100%; overflow:">
		<!-- <h2>Our Awesome Keynote Speakers</h2> -->

		<div class="mosaic-wrapper" style="margin:0 auto;">
			<a href="conference.html#sidorenko" class="box mosaic-box1 bg1"></a>
				<!-- <div class="box mosaic-box1 bg1"></div> -->
			<a href="conference.html#vala" class="box mosaic-box2 bg2"></a>
			<a href="conference.html#amaral" class="box mosaic-box1 bg6"></a>

			
			<a href="https://www.facebook.com/talkabit" class="box mosaic-box2 bg10"></a>
			<div class="box mosaic-box2 bg0"></div>
			<a href="conference.html#desport" class="box mosaic-box2 bg3"></a>
		</div> <!-- end of mosaic wrapper -->	
		<div class="mosaic-wrapper" style="margin:0 auto;">
			<div class="box mosaic-box2 bg0"></div>

			<a href="#" class="box mosaic-box1 bg12"></a>
			
			<div class="box mosaic-box2 bg0"></div>
			<a href="conference.html#cunha" class="box mosaic-box1 bg4"></a>

			<a href="#" class="box mosaic-box2 bg11"></a>
			
			
			<div class="box mosaic-box2 bg0"></div>
			
			
			
		</div> <!-- end of mosaic wrapper -->

		<%# 9.times do %>
			<!-- <img src="<%#= lorem.image('220x160') %>" style="margin: 5px;"> -->
		<%# end %>
	</div>

</div>
