<div class="wrapper" style="text-align: center;">
	<h2>Welcome to BitBox, a conference about the impact of software engineering in modern society.</h2>
	<p><%= lorem.paragraph %></p>
	<% 10.times do %>
		<img src="<%= lorem.image('220x160') %>" style="margin: 5px;">
	<% end %>

</div>


<!-- <div class="map-frame" style="margin-top: 100px; width: 100%; height: 400px;">
	<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed">
	</iframe>
</div> -->
