<div class="wrapper" style="text-align: center;">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h2>Welcome to <strong>Talk a Bit</strong>, a conference on <strong>February 2<sup>nd</sup>, 2013</strong> about the impact of software engineering in modern society.</h2>
	</div>
	
	<div style="width: 90%; margin: 5% auto;">
		<h2>Our Awesome Keynote Speakers</h2>

		<div id="mosaic-wrapper" style="width:90%; margin:0 auto;">
			<a href="conference.html#sidorenko">
				<div class="box mosaic-box1 bg1"><div class="name"><h2>Alexey Sidorenko</h2></div></div>
			</a>
			<a href="conference.html#vala">
				<div class="box mosaic-box2 bg2"><div class="name"><h3>Marco Vala</h3></div></div>
			</a>
			<a href="conference.html#amaral">
				<div class="box mosaic-box1 bg6"><div class="name"><h2>Norberto Amaral</h2></div></div>
			</a>
			<div class="box mosaic-box2 bg0"></div>
			<div class="box mosaic-box2 bg0"></div>
			<div class="box mosaic-box2 bg0"></div>

			<div class="box mosaic-box2 bg0"></div>
			<a href="conference.html#desport">
				<div class="box mosaic-box1 bg3"><div class="name"><h2>Luís Desport</h2></div></div>
			</a>
			<a href="conference.html#cunha">
				<div class="box mosaic-box1 bg4"><div class="name"><h2>J. Falcão e Cunha</h2></div></div>
			</a>
			<div class="box mosaic-box2 bg0"></div>
			<div class="box mosaic-box2 bg0"></div>
			<div class="box mosaic-box3 bg0"></div>
		</div>

		<%# 9.times do %>
			<!-- <img src="<%#= lorem.image('220x160') %>" style="margin: 5px;"> -->
		<%# end %>
	</div>

</div>
