<section class="wrapper">
	<div style="width: 80%; margin: auto 10%; text-align: center;">
		<h1>Registration</h1>
		<p>You got convinced (how couldn't you be, right?). Now is time for you to register for the event.</p>
	</div>
	<%= eventbrite_minimal %>
</section>
